* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.main-container {
    background-image: url(./images/portfolio\ background.png); 
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.3;
    justify-content: space-evenly;
}

main {
    display: flex;
    flex-wrap: wrap; 
}

main aside {
    border: solid white 2px;
    box-sizing:content-box;
    background-color: #DAC1AC;
    text-align: center;
    display: flex;
    flex: 1 0 15%;
    justify-content: start;
    flex-direction: column;
    align-items: top;
    padding: 2%;
    margin: 2%;
    height:fit-content;\]
}


.middle {
    flex: 1 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    
}

.card {
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    margin-bottom:3%;
}


main nav {
    font-size: 64px;
    flex: 1 0 5%;
    display: flex;
    justify-content: flex-end;
    padding: 0%, 3%;
    align-items: top;
    margin-right: 2%;  
}

summary p {
    font-size: 16px;
}

li {
    list-style-type: none;
}

a {
    color: #6a5174;
    text-decoration: none;
}

aside img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid black 2px;
    width: 100%;
    height: auto;
}

#about-me img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid black 2px;
}



/* tooltip for navigation icons */
.tooltip-me .tooltiptext::after {
    content: "About Me";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* .sample {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  
} */



.sample {
    flex: 1 0 0;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }
  
  .sample header {
    padding: 20px;
    background:#DAC1AC;
    color:black;
  }
  
  .sample img {
    width: 100%;
    min-width: 400px;
  }
  
  

/* MEDIA QUERY SECTION  */

@media screen and (max-width: 680px) {

    main {
        display: flex;
        flex-wrap: wrap;
    }

    main aside {
        flex: 1 0 90%;
        order: 2;
    }
    .middle {
        flex: 1 0 90%;
        padding: 10px;
        order: 3;
    }
    main nav {
        flex: 1 0 100%;
        flex-direction: row;
        justify-content: center;
        order: 1;


    }

}

